
@use "../css/common.scss" as *;




.navbar {
  color: $tertiary-color !important;
  background-color: $secondary-color;
  margin-bottom: 0;
  padding: 10px 0;
  text-align: center;
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar a {
  color: $tertiary-color;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px 15px;
  margin: 0 10px;
}

.navbar a:hover {
  color: $primary-color;
}

.hero {
  background-image: url('../assets/header/fatal-attractions.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $secondary-color !important;
  padding-top: 5px;
  padding-bottom: 100px;
  font-family: $font-family;
  width: 100%;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.5rem;
  margin-top: 0;
}

.footer {
  // background-color: $secondary-color;
  color: red;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  div {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  a {
    color: red;
    text-decoration: none;
    font-size: 1.2rem;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
}




.hero {
  background-image: url('../assets/header/fatal-attractions.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $tertiary-color;
  padding-top: 5px;
  padding-bottom: 100px;
  font-family: $font-family;

  h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.5rem;
    margin-top: 0;
  }
}
.footer {
  background-color: $secondary-color;
  color: red;

  div {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  a {
    color: red;
    text-decoration: none;
    font-size: 1.2rem;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
}
